.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: var(--base-font-family);
  font-weight: 500;
  line-height: 100%;
  color: var(--white, #fff);
}

.smBtn {
  margin: 0 auto;
  padding: var(--space-2, 8px) var(--space-3, 12px);
  border: 1px solid var(--line-300, #6e6e6e);
  font-size: 14px;
  border-radius: var(--rounded-xs, 8px);

  &:hover {
    border: 1px solid var(--line-200, #8a8a8a);
    background-color: var(--gray-500, #202020);
  }
}

.lgBtn {
  padding: 0 var(--space-4, 16px);
  height: 44px;
  font-size: 17px;
  border-radius: var(--rounded-md, 12px);
}

.outline {
  border: 1px solid var(--line-300, #6e6e6e);

  &:hover {
    border: 1px solid var(--line-200, #8a8a8a);
    background-color: var(--gray-500, #202020);
  }

  &:disabled {
    border: 1px solid var(--line-400, #3d3d3d);
    color: var(--text-400, #666666);

    &:hover {
      border: 1px solid var(--line-400, #3d3d3d);
      background-color: transparent;
    }
  }
}

.fill {
  border: 1px solid var(--brand, #8eff00);
  background-color: var(--brand, #8eff00);
  color: var(--black, #050505);

  &:hover {
    border: 1px solid var(--brand-hover, #68ba00);
    background-color: var(--brand-hover, #68ba00);
  }

  &:disabled {
    border: 1px solid var(--brand-disabled, #3e7000);
    background-color: var(--brand-disabled, #3e7000);

    &:hover {
      border: 1px solid var(--brand-disabled, #3e7000);
      background-color: var(--brand-disabled, #3e7000);
    }
  }
}
