.postText {
  margin: 0 var(--container-m-md);
  padding-bottom: var(--space-5);
  border-bottom: 1px solid var(--line-400);

  p {
    padding-bottom: var(--space-2);
  }
}

.btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  svg {
    width: 16px;
    height: 16px;
  }
}
