.component {
  position: absolute;
  width: 100%;
  min-height: 800px;
  top: 0;
  left: 0;
  background-color: var(--gray-600);
  border-radius: 30px 30px 0 0;
  z-index: 1;

  .searchHeader {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 3px;

    padding: var(--space-5, 20px) var(--space-4, 16px) var(--space-4, 16px)
      var(--space-4, 16px);

    button {
      margin: 0;
    }
  }
  .inputWrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: var(--space-2);

    border-radius: var(--rounded-md);
    background-color: var(--dimmed);

    padding: 0 var(--space-3);
    margin: 0 var(--space-4);
    height: 44px;

    input {
      background-color: inherit;
    }

    button {
      margin: 0;
    }
  }

  .searchDateList {
    display: flex;
    flex-flow: column;
    margin: var(--space-5) var(--space-4) 0 var(--space-4);
    gap: 10px;

    .searchDateItem {
      display: flex;
      flex-flow: column;

      .itemWrapper {
        display: flex;
        flex-flow: column;
        gap: var(--space-1);
        padding: var(--space-3) var(--space-3-half);

        span {
          color: var(--text-100);
        }
      }

      .itemWrapper:hover {
        background-color: #0a0a0a;
        border-radius: var(--rounded-md);
      }

      .itemWrapper:focus {
        outline: none;
        background-color: #0a0a0a;
        border-radius: var(--rounded-md);
      }
    }
  }
  .pagination {
    display: flex;
    flex-flow: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);

    a {
      border: 1px solid var(--text-100);
      border-radius: var(--rounded-xs);
      padding: var(--space-3);
    }
  }
}
