.AppInput {
    display: flex;
    flex-flow: column;
    gap: 10px;
  
    label {
      color: var(--white);
      font-family: 'Pretendard Variable';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 19.6px */
    }
  
    .inputWrapper {
      display: flex;
      width: 120%;
      height: 44px;
      padding: 0 16px;
      flex-flow: row;
      align-items: center;
      background-color: var(--gray-500);
      border-radius: 12px;
  
      input {
        border: none;
        border-radius: 12px;
        width: 100%;
        background-color: var(--gray-500);
        color: var(--white);
        font-family: 'Pretendard Variable';
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 17px */
        letter-spacing: -0.34px;
      }
  
      input::placeholder {
        color: var(--text-text-200, #888);
        font-family: 'Pretendard Variable';
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 17px */
        letter-spacing: -0.34px;
      }
  
      button {
        display: flex;
        border: none;
        border-radius: 12px;
        background-color: var(--gray-500);
  
        .eyes {
          align-items: center;
        }
      }
    }
  }
  