.AppInput {
  display: flex;
  flex-flow: column;
  gap: 10px;
  margin-bottom: var(--space-1-half);

  label {
    color: var(--white);
    font-family: 'Pretendard Variable';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
  }

  .inputWrapper {
    display: flex;
    height: 44px;
    padding: 10px var(--space-4, 16px);
    flex-flow: row;
    align-items: center;
    gap: 2px;
    background-color: var(--gray-500);
    border-radius: var(--rounded-md);

    input {
      border: none;
      border-radius: var(--rounded-md);
      width: 100%;
      background-color: var(--gray-500);
      color: var(--white);
    }

    input::placeholder {
      color: var(--text-200, #888);
    }

    button {
      margin: 0;
      display: flex;
      border: none;
      border-radius: var(--rounded-md);
      background-color: var(--gray-500);
    }
  }
}
