.component {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  border-radius: var(--rounded-xs);
  border: 1px solid var(--line-300);
  padding: var(--space-2) var(--space-3);

  color: var(--white, #fff);
  font-family: 'Pretendard Variable';

  &:hover {
    border: 1px solid var(--line-200, #8a8a8a);
    background-color: var(--gray-500, #202020);
  }
}

.small {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.14px;
}

.large {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.34px;
}
