.component {
  details .chevronIcon {
    transition: all 200ms;
  }

  details[open] .chevronIcon {
    rotate: 270deg;
  }

  details {
    border: 1px solid var(--line-300);
    border-radius: var(--rounded-md);
    padding: var(--space-2-half) var(--space-4, 16px);

    summary {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      color: var(--white, #fff);
      font-family: 'Pretendard Variable';
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.34px;

      .chevronIcon {
        width: 24px;
        height: 24px;
        rotate: 180deg;
      }

      &::marker {
        content: '';
      }
    }

    .passwordInputWrapper {
      border-top: 1px solid var(--line-300);
      padding-top: var(--space-2-half);
      margin-top: var(--space-3);
      display: flex;
      flex-flow: column;
      gap: var(--space-6);
    }
  }
}
