.component {
  display: flex;
  flex-flow: column;
  gap: var(--space-6);
  padding: 0 var(--space-4);

  h2 {
    padding-top: var(--space-5);
  }

  .btnWrapper {
    display: flex;
    flex-flow: row;
    gap: var(--space-4);
    margin-top: 60px;
    margin-bottom: var(--space-10);
  }

  .btnWrapper :nth-child(1) {
    flex: 1;
  }

  .btnWrapper :nth-child(2) {
    flex: 3;
  }
}
