:root {
  /* -------------------------------------------- */
  /*                     color                    */
  /* -------------------------------------------- */

  /* common */
  --black: #050505;
  --white: #fff;
  --like: #E81919;
  --error: #FF4A4A;

  /* base */
  --foreground: var(--white);
  --background: var(--black);

  /* brand */
  --brand: #8eff00;
  --brand-disabled: #3E7000;
  --brand-hover: #68BA00;

  /* gray */
  --gray-500: #202020;
  --gray-600: #161616;

  /* text */
  --text-100: #AAAAAA
  --text-200: #888888;
  --text-300: #6E6E6E;
  --text-400: #666666;
  --text-brand-100: #498500;
  --text-brand-200: #3E7000;

  /* line */
  --line-200: #8A8A8A;
  --line-300: #6E6E6E;
  --line-400: #3D3D3D;
  --line-500: #272727;

  /* dimmed */
  --dimmed-thumb: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 30%
  );
  --dimmed: rgba(0, 0, 0, 0.7);


  /* -------------------------------------------- */
  /*                    rounded                   */
  /* -------------------------------------------- */

  --rounded-none: 0;
  --rounded-xs: 8px;
  --rounded-sm: 10px;
  --rounded-md: 12px;
  --rounded-lg: 20px;
  --rounded-full: 9999px;


  /* -------------------------------------------- */
  /*                     space                    */
  /* -------------------------------------------- */

  --space-none: 0;
  --space-half: 2px;
  --space-1: 4px;
  --space-1-half: 6px;
  --space-2: 8px;
  --space-2-half: 10px;
  --space-3: 12px;
  --space-3-half: 14px;
  --space-4: 16px;
  --space-4-half: 18px;
  --space-5: 20px;
  --space-5-half: 22px;
  --space-6: 24px;
  --space-6-half: 26px;
  --space-7: 28px;
  --space-7-half: 30px;
  --space-8: 32px;
  --space-8-half: 34px;
  --space-9: 36px;
  --space-9-half: 38px;
  --space-10: 40px;
  --space-10-half: 42px;

  /* container-margin */
  --container-m-sm: var(--space-3);
  --container-m-md: var(--space-4);

  /* -------------------------------------------- */
  /*                    easing                    */
  /* -------------------------------------------- */
  
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
}
