@import './_utils.css';
@import './_base.css';
@import './_variables.css';
@import './_typography.css';

:root {
  position: relative;
  margin: 0 auto;
  font-size: 16px;
  background: #222;
}

.content {
  min-height: calc(100vh - var(--footer-height));
  padding-block-start: var(--header-height);
}
