.photoBox {
  margin: var(--space-3) var(--container-m-sm) 0;
  overflow: hidden;
  position: relative;
  width: calc(100% - 24px);
  aspect-ratio: 22/31;
  border-radius: 20px;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.onPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dimmed-thumb);

  section {
    padding: var(--space-3) var(--space-3) 0;
    position: absolute;
    top: 0;
    width: inherit;
  }

  > div {
    padding: var(--space-3) var(--space-3) 0;
    position: absolute;
    top: 0;
    right: 0;
    width: inherit;
  }
}

.postInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--space-3) var(--container-m-md);
}

.placeInfo {
  display: flex;
  gap: 2px;
  align-items: center;
  vertical-align: baseline;
  color: var(--text-100);

  svg {
    width: 12px;
    height: 12px;
    fill: var(--text-100);
  }
}

.toggleBox {
  display: flex;

  > button {
    width: 32px;
    height: 32px;
  }
}
