.photoBox {
  margin: var(--space-3) var(--container-m-sm) 0;
  overflow: hidden;
  position: relative;
  width: calc(100% - 24px);
  aspect-ratio: 22/31;
  border-radius: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.onPhoto {
  section {
    padding: var(--space-3) var(--space-3) 0;
    position: absolute;
    top: 0;
  }

  > div {
    padding: var(--space-3) var(--space-3) 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.postInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--space-3) var(--container-m-md);
}

.placeInfo {
  display: flex;
  gap: 2px;
  align-items: center;
  vertical-align: baseline;
  color: var(--text-100);

  svg {
    width: 12px;
    height: 12px;
    fill: var(--text-100);
  }
}

.toggleBox {
  display: flex;
}

.postText {
  margin: 0 var(--container-m-md);
  padding-bottom: var(--space-5);
  border-bottom: 1px solid var(--line-400);

  p {
    padding-bottom: var(--space-2);
  }
}

.commentContainer {
  margin: var(--space-5) var(--container-m-md);

  > span {
    display: block;
    padding-bottom: var(--space-5);
  }
}

.noComment {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  width: 100%;
  height: 203px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-200);
}

.commentList {
  display: flex;
  gap: var(--space-5);
  width: 100%;
  flex-flow: column;

  li {
    display: flex;
    align-items: start;
    /* gap: var(--space-2-half); */
  }

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: var(--rounded-full);
  }
}

.comment {
  display: flex;
  gap: var(--space-1);
  padding-right: var(--space-2);
  padding-left: var(--space-2-half);
  width: 100%;
  flex-flow: column;
}

.nickName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.commentDate {
  vertical-align: bottom;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  color: var(--text-300, #6e6e6e);
}

.addComment {
  display: flex;
  gap: var(--space-2);
  align-items: center;
  margin: 0 var(--container-m-md) var(--space-10);
  padding-top: var(--space-5);
  width: calc(100% - 32px);

  article {
    margin-bottom: 0;
    width: 100%;

    input {
      margin-left: 0;
    }
  }
}
