.sectionTitle {
  padding: var(--space-5, 20px) var(--container-m-md, 16px)
    var(--space-2-half, 10px) var(--container-m-md, 16px);
}

.rankList {
  padding: 0 var(--container-m-sm);
}

.rankList :global(.swiper-slide) {
  width: fit-content;
  margin-inline-end: var(--space-2, 8px);
}

.rankList :global(.swiper-slide):last-child {
  margin-inline-end: var(--space-2, 0);
}

.postList {
  padding: 0 var(--container-m-sm);
}
