.sectionTitle {
  padding: var(--space-5, 20px) var(--container-m-md, 16px)
    var(--space-2-half, 10px) var(--container-m-md, 16px);
}

.rankList {
  padding: 0 var(--container-m-sm);
  margin-block-end: 60px;
}

.rankList :global(.swiper-slide) {
  width: fit-content;
  margin-inline-end: var(--space-2, 8px);
}

.rankList :global(.swiper-slide):last-child {
  margin-inline-end: var(--space-2, 0);
}

.post {
  margin-block-end: 60px;
}

.postCardList {
  padding: 0 var(--container-m-sm);
  display: flex;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--space-8, 32px) var(--space-2, 8px);
  flex-wrap: wrap;
  margin-block-end: var(--space-10, 40px);
}

.card {
  width: 100%;
}

.moreBtn {
  margin-block-start: 40px;
}

.swiper-pagination-bullet-active {
  background: var(--brand);
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-1, 4px);
  padding: 0 var(--container-m-sm);
  margin-block-end: var(--space-6, 24px);
}
