.component {
  display: flex;
  flex-flow: column;
  gap: var(--space-6);
  padding: 0 var(--space-4);

  .userOutBtnArea {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding-top: 60px;

    .moveToDeleteUserPage {
      border-radius: var(--rounded-xs);
      border: 1px solid var(--line-300);
      padding: var(--space-2) var(--space-3);

      color: var(--white, #fff);
      font-family: 'Pretendard Variable';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.14px;

      &:hover {
        border: 1px solid var(--line-200, #8a8a8a);
        background-color: var(--gray-500, #202020);
      }
    }
  }

  .btnContainer {
    width: 100%;
    display: flex;
    flex-flow: row;

    gap: var(--space-2);

    padding: 60px 0 var(--space-10) 0;
  }

  .btnContainer :nth-child(1) {
    flex: 1;
  }

  .btnContainer :nth-child(2) {
    flex: 3;
  }
}
