.component {
  .rankCard {
    width: 330px;
    position: relative;

    .placePic {
      width: 100%;
      border-radius: var(--rounded-md);
    }

    .cardHeader {
      width: 100%;
      position: absolute;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      left: 0;
      padding: 12px 12px 0 12px;

      .userInfos {
        display: flex;
        align-items: center;
        gap: 9px;

        img {
          width: var(--space-10);
          height: var(--space-10);
          border-radius: var(--rounded-full);
        }

        p {
          color: var(--white);
          font-family: 'Pretendard Variable';
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
        }
      }
    }

    .places {
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      .placeInfos {
        display: flex;
        flex-flow: column;
        gap: 5px;

        p {
          color: var(--white);
          font-family: 'Pretendard Variable';
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
        }

        .placePosition {
          display: flex;
          flex-flow: row;
          align-items: center;
          gap: 2px;
          padding-left: 15px;

          span {
            color: var(--text-100);
            font-family: 'Pretendard Variable';
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
          }

          .marker {
            width: 12px;
            height: 12px;
            path {
              fill: var(--text-100);
            }
          }
        }
      }

      .heartWrapper {
        display: flex;
        flex-flow: row;
        align-items: center;

        span {
          color: var(--white);
          font-family: 'Pretendard Variable';
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
        }
      }
    }
  }

  .rankCardFull {
    width: 100%;
    position: relative;

    .placePic {
      width: 100%;
      border-radius: var(--rounded-md);
    }

    .cardHeader {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      left: 0;
      padding: 12px 12px 0 12px;

      .userInfos {
        display: flex;
        align-items: center;
        gap: 9px;

        img {
          width: var(--space-10);
          height: var(--space-10);
          border-radius: var(--rounded-full);
        }

        p {
          color: var(--white);
          font-family: 'Pretendard Variable';
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
        }
      }
    }

    .places {
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      .placeInfos {
        display: flex;
        flex-flow: column;
        gap: 5px;

        p {
          color: var(--white);
          font-family: 'Pretendard Variable';
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
        }

        .placePosition {
          display: flex;
          flex-flow: row;
          align-items: center;
          gap: 2px;
          padding-left: 15px;

          span {
            color: var(--text-100);
            font-family: 'Pretendard Variable';
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
          }

          .marker {
            width: 12px;
            height: 12px;
            path {
              fill: var(--text-100);
            }
          }
        }
      }

      .heartWrapper {
        display: flex;
        flex-flow: row;
        align-items: center;

        span {
          color: var(--white);
          font-family: 'Pretendard Variable';
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
        }
      }
    }
  }

  .listCard {
    width: 181px;
    position: relative;

    .placePic {
      width: 100%;
      border-radius: var(--rounded-md);
    }

    .cardHeader {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 8px 0 0;
    }

    .placeInfos {
      display: flex;
      flex-flow: column;
      gap: 5px;
      margin-top: 10px;

      p {
        color: var(--white);
        font-family: 'Pretendard Variable';
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
      }

      .placePosition {
        display: flex;
        flex-flow: row;
        align-items: center;

        .marker {
          width: 12px;
          height: 12px;
          path {
            fill: var(--text-100);
          }
        }

        span {
          color: var(--text-100);
          font-family: 'Pretendard Variable';
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
        }
      }
    }
  }
}
