.component {
  width: 100%;
  figure {
    position: relative;
    aspect-ratio: 330/465;

    .dimThumb {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: var(--dimmed-thumb);
    }
  }

  .rankCard {
    width: 330px;
    position: relative;

    .placePhoto {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--rounded-lg);
    }

    .cardHeader {
      width: 100%;
      position: absolute;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      left: 0;
      padding: 12px 12px 0 12px;
      z-index: 1;

      .userInfos {
        display: flex;
        align-items: center;
        gap: 9px;

        img {
          width: var(--space-10);
          height: var(--space-10);
          border-radius: var(--rounded-full);
        }
      }
    }

    .places {
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: flex-start;

      margin-top: 10px;

      .placeInfos {
        width: 100%;
        display: flex;
        flex-flow: row;
        padding-inline-end: var(--space-4, 16px);

        .rankNum {
          display: flex;

          &::after {
            content: '·';
            display: inline-block;
            width: auto;
            margin: 0 var(--space-1-half, 6px) 0 var(--space-1, 4px);
            color: var(--white);
            vertical-align: middle;
          }
        }

        .placeTitle {
          width: 100%;
        }

        .placePosition {
          display: flex;
          flex-flow: row;
          align-items: center;
          gap: 2px;
          margin-block-start: 5px;

          span {
            color: var(--text-100);
          }

          .marker {
            width: 12px;
            height: 12px;
            path {
              fill: var(--text-100);
            }
          }
        }
      }

      .heartWrapper {
        display: flex;
        flex-flow: row;
        align-items: center;

        span {
          color: var(--white);
          font-family: 'Pretendard Variable';
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
        }
      }
    }
  }

  .rankCardFull {
    width: 100%;
    position: relative;

    .placePhoto {
      width: 100%;
      border-radius: var(--rounded-md);
    }

    .cardHeader {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      left: 0;
      padding: 12px 12px 0 12px;
      z-index: 1;

      .userInfos {
        display: flex;
        align-items: center;
        gap: 9px;

        img {
          width: var(--space-10);
          height: var(--space-10);
          border-radius: var(--rounded-full);
        }

        p {
          color: var(--white);
          font-family: 'Pretendard Variable';
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
        }
      }
    }

    .places {
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      .placeInfos {
        display: flex;
        flex-flow: column;
        gap: 5px;

        p {
          color: var(--white);
          font-family: 'Pretendard Variable';
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
        }

        .placePosition {
          display: flex;
          flex-flow: row;
          align-items: center;
          gap: 2px;
          padding-left: 15px;

          span {
            color: var(--text-100);
            font-family: 'Pretendard Variable';
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
          }

          .marker {
            width: 12px;
            height: 12px;
            path {
              fill: var(--text-100);
            }
          }
        }
      }

      .heartWrapper {
        display: flex;
        flex-flow: row;
        align-items: center;

        span {
          color: var(--white);
          font-family: 'Pretendard Variable';
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
        }
      }
    }
  }

  .listCard {
    width: 100%;
    position: relative;

    .placePhoto {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--rounded-sm);
    }

    .cardHeader {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 8px 0 0;
      z-index: 1;
    }

    .placeInfos {
      display: flex;
      flex-flow: column;
      gap: 5px;
      margin-top: 10px;

      .placePosition {
        display: flex;
        flex-flow: row;
        align-items: center;

        .marker {
          width: 12px;
          height: 12px;
          path {
            fill: var(--text-100);
          }
        }

        span {
          color: var(--text-100);
          font-family: 'Pretendard Variable';
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
        }
      }
    }
  }
}

.postComponent {
  width: calc(50% - var(--space-1, 4px));
}
