.dialog {
  padding: var(--space-6) var(--space-8);
  font-family: var(--base-font-family);
  border: none;
  border-radius: var(--rounded-xs);

  h2 {
    font-size: 16px;
    margin-bottom: var(--space-4);
  }

  div {
    display: flex;
    justify-content: center;
  }

  button {
    background-color: var(--black);
    color: var(--white);
    padding: var(--space-2) var(--space-3);
    border-radius: 4px;
  }
}
