.heading {
  margin: var(--space-5) var(--container-m-md);
}

.flexContainer {
  margin: 0 var(--container-m-md);
  height: calc(100vh - var(--header-height) * 2 - var(--footer-height));
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.inputContainer {
  margin-bottom: var(--space-6);

  article {
    margin-bottom: var(--space-6);
  }

  > p {
    color: var(--text-400);
  }
}

.notice {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: var(--space-4) 0 var(--space-1);

  svg {
    width: 16px;
    height: 16px;
  }
}

.btnContainer {
  display: flex;
  gap: var(--space-2);
  margin-bottom: var(--space-10);

  button:first-child {
    flex: 1 0 0;
  }
  button:last-child {
    flex: 3 0 0;
  }
}
