.toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: var(--space-1-half, 6px);
  border: none;
  width: 32px;
  height: 32px;
  background: none;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;

    path {
      stroke: var(--white);
      fill: transparent;
    }
  }
}

.like {
  width: 20px;
  height: 20px;
}

.liked {
  width: 20px;
  height: 20px;

  path {
    stroke: var(--like);
    fill: var(--like);
  }
}

.bookmark {
  width: 36px;
  height: 36px;
}

.bookmarked {
  width: 36px;
  height: 36px;

  path {
    stroke: var(--brand);
    fill: var(--brand);
  }
}
