.modalOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 1000;
}
